name: xylophonic
description: tap to make some sounds.


publish_to: 'none' # Remove this line if you wish to publish to pub.dev

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter


  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  english_words: ^3.1.5
  cupertino_icons: ^1.0.0
  audioplayers: ^0.16.1

dev_dependencies:
  flutter_test:
    sdk: flutter



flutter:


  uses-material-design: true

